@media (max-width:1308px) {
    
    .header {
        padding: 20px 50px;
        >.head_logo {
            flex: 0.5;  
        }
    }

    .body_1 {
        >p {
            font-size: 40px;
            >span {
                font-size: 18px;
                width: 450px;
            }
        }      
    }

    .body_2 {
        margin: auto;
        >.column_1{
            >div {
                margin-right: 30px;
                margin-left: auto;
            }
        }
        >.column_3{
            >div {
                margin-left: 30px;
                margin-right: auto;
            }
        }
    }
}

@media (max-width:1026px) {
    .body_2 {
        >.column_1 {
            >div {
                >p {
                    font-size: 17px;
                    width: 220px;
                    >span {
                        font-size: 14px;
                        width: 220px;
                    }
                }
            }
        }
        >.column_3 {
            >div {
                >p {
                    font-size: 17px;
                    width: 220px;
                    >span {
                        font-size: 14px;
                        width: 220px;
                    }
                }
            }
        }
    }

    .Pricing {
        grid-template-columns: 1fr 1fr;
        >div {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width:938px) {
    
    .header {
        padding: 20px 25px;
        flex-direction: column;
    }

    .body_1 {
        flex-direction: column;
        align-items: center;
        >p {
            font-size: 50px;
            text-align: center;
            margin: 20px auto;

            >span {
                font-size: 20px;
                text-align: center;
                margin-top: 20px;
                padding-left: 0px;
            }
        }
        >img {
            max-width: 50%;
            align-self: last baseline;
        }     
    }

    .body_2 {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 10px;
        >.column_1 {
            text-align: left;
            >div {
                margin-left: 50px;
                >p {
                    order: 2;
                    font-size: 20px;
                    width: 300px;
                    >span {
                        font-size: 15px;
                        width: 200px;
                    }
                }
                >img {
                    order: 1;
                }
            }
        }

        >.column_2 {
            >img {
                visibility:hidden;
                height: 0px;
            }
        }

        >.column_3 {
            >div {
                margin-left: 50px;
                >p {
                    font-size: 20px;
                    width: 300px;
                    >span {
                        font-size: 15px;
                        width: 200px;
                    }
                }
            }
        }
    }

    .reviews {
        flex-direction: column;
        align-items: center;

        >div {
            max-width: 80%;
            margin: 20px;
        }
    }
}

@media (max-width:606px) {
    
    .header {
        padding: 20px 20px;
        >.head_text p{
            font-size: 10px;
        }
    }

    .body_1 {
        >p {
            font-size: 40px;

            >span {
                font-size: 20px;
                margin: 30px auto;
            }
        }
        >img {
            max-width: 40%;
            align-self: last baseline;
            padding-top: 10px;
        }     
    }
}

@media (max-width: 500px) {
    .header {
        >.head_logo {
            >.menu {
                width: 20px;
                margin-right: 0px;
            } 
        }
        >.head_text {
            >p {
                font-size: 7px;
            }
        }
    }

    .body_1 {
        >p {
            font-size: 30px;
            width: 350px;
            >span {
                font-size: 15px;
                margin: 30px auto;
                width: 300px;
            }
        }
    }

    .body_2 {
        >.column_1,
        >.column_3 {
            >div {
                margin-left: 20px;
                margin-right: 20px;
                >p {
                    font-size: 20px;
                    width: 300px;
                    >span {
                        font-size: 15px;
                        width: 200px;
                    }
                }
            }
        }
    } 

    .Pricing {
        grid-template-columns: 1fr;
        >div {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
